/* ----------menu topo---------- */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 80px;

    background-color: var(--blue-dark);
}

/* foto do perfil */
.perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 150px;

    padding: 6px;
    margin: 30px;
    margin-top: 140px;
    transition: 1s;

    background-color: var(--blue-dark);

    animation: parfil_ani 2s initial;
}
.perfil:hover{
    padding: 10px;
    background-color: var(--blue-medium);
}




.perfil img{
    border-radius: 100%; 
    width: 150px; 
}

/* texto de páginas específicas */
.pages{
    display: flex;
    justify-content: space-between;

    margin-right: 50px;
    width: 500px;

}
.pages a{
    text-decoration: none;
    font-size: 30px;

    color: white;
}
.pages a:hover{
    color: var(--blue-medium);
    transform: scale(1.1);
}

/* ------------área principal ------------- */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    padding: 50px;
    overflow: hidden;
}

/* apresentação */
.Faixa{
    text-align: center;
    margin-top: 150px;
    transform: rotate(-45deg);
}
.my{
    margin-right: 500px;
    font-size: 25px;
    width: 800px;

    color: var(--blue-dark);

    z-index: 1;
}
.Faixa h3{
    margin-right: 300px;
    font-size: 30px;
    background-color: var(--blue-medium-light);
    color: white;
}
.my_faixa{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-medium);
    width: 120vw;
    
    height: 400px;
    padding: 5px;
    z-index: 0;
}
.token_box{
    display: flex;
    flex-wrap: wrap;

    width: 60vw;
    margin-left: 100px;

}

.token{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    background-color: white;

    border-radius: 100%;
    border: 4px dashed var(--blue-dark);

    width: 100px;
    height: 100px;
    margin: 15px;

    transition: 1s;

    z-index: 1;
}
.token:hover{
    transform: rotate(45deg) scale(1.3);
}
.token img{
    width: 50px;
    height: 50px;
    
    z-index: 1;
}

@media (max-width: 1500px){
    .my{
        margin-top: 70px;
        width: 500px;
        padding-left: 200px;
        font-size: 20px;
    }
    .my_faixa{
        width: 200vw;
    }
    .token_box{
        width: 120vw;
    }
    
}